<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd" >

    <bean id="bibliotecarHibernate" class="persistence.database.BibliotecarORMRepository"/>

    <bean id="abonatHibernate" class="persistence.database.AbonatORMRepository"/>

    <bean id="carteHibernate" class="persistence.database.CarteORMRepository"/>

    <bean id="imprumutHibernate" class="persistence.database.ImprumutORMRepository"/>

    <bean id="bibliotecaService" class="server.ServiceImplementation">
        <constructor-arg ref="bibliotecarHibernate" />
        <constructor-arg ref="abonatHibernate" />
        <constructor-arg ref="carteHibernate" />
        <constructor-arg ref="imprumutHibernate" />
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">

        <property name="serviceName" value="Biblioteca"/>
        <property name="service" ref="bibliotecaService"/>
        <property name="serviceInterface" value="services.IBibliotecaServices"/>
        <property name="servicePort" value="1099"/>
    </bean>

</beans>